<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/style.css">
  <title>CoderGym</title>
</head>

<body>
    <h1 id="allTests">LOGIN</h1>
    <form method="POST" action="/login-post">
      <input type="text" name="username" placeholder="Username" style="padding:10px; display:block; margin: 0 auto;  margin-bottom:15px" required>
      <input type="password" name="password" placeholder="Password" style="padding:10px; display:block; margin: 0 auto; margin-bottom:15px" required>
      <input type="submit" value="Log In" style="padding:10px; display:block; margin: 0 auto">
    </form>
</body>

</html>