<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/style.css">
  <title>CoderGym</title>
</head>

<body>
  <h1 id="allTests">WELCOME <%= username %></h1>
  <a href="/add-task" style="padding:15px; border:1px solid black; margin: 0 auto; border-radius:3px">Add task</a>
</body>

</html>